 {{#each data.data}}
        <div class="blog py-3">
            <h4 class="text-dark">{{name}}</h4>
            <div>by {{author}} in <a href="#" onclick="loadBlogs('blogs/categories/{{categoryId}}')">Blog. {{category.name}}</a> on {{date}} Hits: 208 <a href="#" onclick="loadBlogsDetails({{id}})">Comments ({{comments.length}})</a></div>
            <div class="py-3">
                <img src="{{thumbpath}}" alt="" class="round-img">
                {{summary}}
                <br>
                <br>
                <a href="#" class="readmore" onclick="loadBlogsDetails({{id}})">Read more</a>
            </div>
        </div>
        {{/each}}